body {
    font-family: Arial, sans-serif;
    margin: 0; /* espaçamento externo da pagina*/
    padding: 0; /* espaçamento interno da pagina*/
    background-color: #f4f4f4;
    text-align: center; /*texto centralizado*/
}
header {
    background-color: orange;
    color: white;
    padding: 15px 0px; /*15px (espaçamento interno acima e abaixo) e 0px (direita e esuqerda)*/
    font-size: 24px;
}
nav {
    background-color: #007bff;
    padding: 10px;
    display: flex; /* flex boxing */
    justify-content: space-between; /* espaço entre os elementos do menu*/
    align-items: center; /* alinhamento na vertical */
}
#links-menu {
    display: flex;
    gap: 30px; /* destancia entre os itens do menu*/
}
nav a { /* configura os links do menu */
    color: white;
    text-decoration: none; /* nao decora os links*/
    padding: 10px 15px;
    font-size: 18px;
    background: orange;
    border-radius: 5px; /* cantos arredondados*/

}
img {
    width: 120px;
    height: auto;
    margin-right: 20px; /* espaçamento externo à direita */
    border-radius: 10px; /* arredondar a borda */
}
.container {
    width: 80%; /* largura da paginaa*/
    background: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
    height: 1px;
}

ol li {
    padding-bottom: 10px;
}
ul li {
    padding: 5px
}
table tr td {
    padding: 10px
}
table {
    margin: 0 auto; /* centraliza a tabela na pagina */
}
.laranja {
    background-color: orange;
}.preto {
    background-color:black;
    color: white;
}
.roxo {
    background-color: rgb(175, 109, 196);
}
.verde {
    background-color: rgb(60, 150, 60);
}
.vermelho {
    background-color: rgb(250, 66, 66);
}
.cabecalho {
    background-color: navy;
    color: white;
}
.Destaque {
    background-color: #9acbff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.destaque {
    background-color: rgb(239, 245, 162);
    margin-top: 30px;
    margin-bottom: 30px;
}
#meio {
    text-align: center;
}
.campos {
    margin-bottom: 20px;
}